<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Ügyfelek Listája</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<section th:fragment="content">
    <div class="container mt-4">
        <div class="d-flex justify-content-between">
            <h2>Ügyfelek</h2>
            <a href="/customers/create" class="btn btn-success">Új Ügyfél</a>
        </div>
        <table class="table table-striped mt-3">
            <thead>
            <tr>
                <th>Cég Név</th>
                <th>Kapcsolattartók</th>
                <th>Cím</th>
                <th>Tevékenység</th>
                <th>Adószám</th>
                <th>Műveletek</th> <!-- Új oszlop a műveletekhez -->
            </tr>
            </thead>
            <tbody>
            <tr th:each="customer : ${customers}">
                <td th:text="${customer.companyName}"></td>
                <td th:text="${#lists.size(customer.contacts)} + ' Kapcsolattartó'"></td>
                <td th:text="${customer.address}"></td>
                <td th:text="${customer.activity}"></td>
                <td th:text="${customer.taxNumber}"></td>
                <td>
                    <!-- Módosítás és Jegyzet hozzáadása gombok -->
                    <a th:href="@{/customers/{customerId}/projects(customerId=${customer.id})}" class="btn btn-warning btn-sm">Projektek</a>
                    <a th:href="@{/customers/edit/{id}(id=${customer.id})}" class="btn btn-warning btn-sm">Módosít</a>
                    <a th:href="@{/customers/notes/{id}(id=${customer.id})}" class="btn btn-info btn-sm">Jegyzet hozzáadása</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</section>
</body>
</html>
