<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Jegyzet Hozzáadása</title>
</head>
<body>
<section th:fragment="content">
  <div class="container mt-4">
    <h2>Jegyzet Hozzáadása: <span th:text="${customer.companyName}"></span></h2>
    <div th:replace="~{fragments/backButton :: backButton}"></div>
    <form action="#" th:action="@{/customers/notes/{id}(id=${customer.id})}" th:object="${note}" method="post">
      <div class="mb-3">
        <label for="content" class="form-label">Jegyzet</label>
        <textarea class="form-control" id="content" th:field="*{content}" rows="3" required></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Jegyzet Mentése</button>
    </form>

    <h3>Meglévő Jegyzetek</h3>
    <div class="row">
      <div class="col-md-4" th:each="note : ${customer.notes}">
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title" th:text="${#temporals.format(note.createdAt, 'yyyy-MM-dd HH:mm')}"></h5>
            <p class="card-text" th:text="${note.content}"></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</body>
</html>
