<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thymeleaf Layout Example</title>
    <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.css" />
</head>
<body>

<!-- Header fragment inclusion -->
<div th:replace="~{fragments/header :: header}"></div>

<!-- Main content -->
<div>
    <div id="content" th:replace="~{${pageContent} :: content}"></div>
</div>

<!-- Footer fragment inclusion -->
<div th:replace="~{fragments/footer :: footer}"></div>
<script src="/bootstrap/js/bootstrap.js"></script>
</body>
</html>