<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Projektek Listája</title>
</head>
<body>
<section th:fragment="content">
  <div class="container mt-4">
    <h2>Projektek: <span th:text="${customer.companyName}"></span></h2>
    <div th:replace="~{fragments/backButton :: backButton}"></div>
    <a th:href="@{/customers/{customerId}/projects/create(customerId=${customer.id})}" class="btn btn-success">Új Projekt</a>
    <table class="table table-striped mt-3">
      <thead>
      <tr>
        <th>Név</th>
        <th>Leírás</th>
        <th>Ár</th>
        <th>Eddig Fizetve</th>
        <th>Fennmaradt Kifizetés</th>
        <th>Műveletek</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="project : ${projects}">
        <td th:text="${project.name}"></td>
        <td th:text="${project.description}"></td>
        <td th:text="${project.price}"></td>
        <td th:text="${project.totalAmountPaid}"></td>
        <td th:text="${project.remainingPayment}"></td>
        <td>
          <a th:href="@{/customers/{customerId}/projects/edit/{projectId}(customerId=${customer.id}, projectId=${project.id})}" class="btn btn-warning btn-sm">Módosít</a>
          <a th:href="@{/customers/{customerId}/projects/payment/{projectId}(customerId=${customer.id}, projectId=${project.id})}" class="btn btn-info btn-sm">Kifizetés hozzáadása</a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</section>
</body>
</html>